
#appsDropdown::-webkit-scrollbar {
  width: 0px;
}
#appsDropdown::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 0px;
}
#appsDropdown::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}






#appsGridContainer::-webkit-scrollbar{
    width: 0px;
}
#appGridContainer::-webkit-scrollbar-thumb{
    background-color: rgb(163, 59, 27);
}